<app-stepper>
  <app-step>
    <ng-template appStepLabel> User form </ng-template>

    <form id="userForm" [formGroup]="userForm">
      <label for="firstName">First Name</label>
      <input
        id="firstName"
        formControlName="firstName"
        type="text"
        autocomplete="off"
      />
      <label for="lastName">Last Name</label>
      <input
        id="lastName"
        formControlName="lastName"
        type="text"
        autocomplete="off"
      />
      <label>Age</label>
      <input type="number" autocomplete="off" />
    </form>
    <div class="navigation first">
      <button form="userForm" type="submit" appAsyncAction appNextStep>
        Next
      </button>
    </div>
  </app-step>

  <app-step>
    <ng-template appStepLabel> Address form </ng-template>

    <form id="addressForm" [formGroup]="addressForm">
      <label for="street">Street</label>
      <input
        id="street"
        formControlName="street"
        type="text"
        autocomplete="off"
      />
      <label for="city">City</label>
      <input id="city" formControlName="city" type="text" autocomplete="off" />
      <label for="state">State</label>
      <input formControlName="state" type="text" autocomplete="off" />
      <label for="zip">Zip</label>
      <input id="zip" formControlName="zip" type="text" autocomplete="off" />
    </form>

    <div class="navigation">
      <button type="button" appAsyncAction appPreviousStep>Previous</button>
      <button form="addressForm" type="submit" appAsyncAction appNextStep>
        Next
      </button>
    </div>
  </app-step>

  <app-step>
    <ng-template appStepLabel> Account form </ng-template>

    <form id="accountForm" [formGroup]="accountForm">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        type="email"
        autocomplete="off"
      />
      <label for="password">Password</label>
      <input
        id="password"
        formControlName="password"
        type="password"
        autocomplete="off"
      />
    </form>

    <div class="navigation">
      <button type="button" appAsyncAction appPreviousStep>Previous</button>
      <button type="submit" [appAsyncAction]="save$" appNextStep>Next</button>
    </div>
  </app-step>

  <app-step>
    <ng-template appStepLabel> Summary </ng-template>

    <p>Forms summary:</p>

    <dl>
      <dt>User form</dt>
      <dd>
        <pre>{{ userForm.value | json }}</pre>
      </dd>

      <dt>User form</dt>
      <dd>
        <pre>{{ addressForm.value | json }}</pre>
      </dd>

      <dt>User form</dt>
      <dd>
        <pre>{{ accountForm.value | json }}</pre>
      </dd>
    </dl>
  </app-step>
</app-stepper>
