.key-value-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.key-value-list li {
  display: flex;
  align-items: center;
}

.key {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  margin-right: 10px;
}

.value {
  display: inline-block;
}

h3 {
  margin-top: 3rem;
}
